<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbu.staff.message_content.mapper.MessageContentMapper">

    <resultMap id="BaseResultMap" type="com.wbu.staff.message_content.domain.MessageContent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="createdate" column="createDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,message,
        createDate
    </sql>
</mapper>
