<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbu.staff.salary.mapper.SalaryMapper">

    <resultMap id="BaseResultMap" type="com.wbu.staff.salary.domain.Salary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="basicSalary" column="basic_salary" jdbcType="BIGINT"/>
            <result property="bonus" column="bonus" jdbcType="BIGINT"/>
            <result property="lunchSalary" column="lunch_salary" jdbcType="BIGINT"/>
            <result property="trafficSalary" column="traffic_salary" jdbcType="BIGINT"/>
            <result property="allSalary" column="all_salary" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="employeeId" column="employee_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,basic_salary,bonus,
        lunch_salary,traffic_salary,all_salary,
        create_time,update_time,employee_id
    </sql>
</mapper>
